*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100%;
    width:100%;
    padding: 2rem;

}
#root{
    display: flex;
    background-color: aquamarine;
    justify-content: center;
    align-items: center;
    height: 500px;
    width: 100%;
    gap:20px;

}